numpy
jupyter
fastapi
matplotlib

# Testing
pytest
pytest-mock

# Code Quality & CICD
pre-commit
black 
ruff 
pytest

# PyTorch with CUDA
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio

# JAX with CUDA
jax[cuda13]

# finance data loaders
yfinance
pandas-datareader