name: Python CI

on:
  push:
    branches: [ main ]
    paths:
      - 'python/**'  # Only trigger for changes to python/ files
  pull_request:
    branches: [ main ]
    paths:
      - 'python/**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    # curtail runs-actions to the python folder 
    defaults:
      run:
        working-directory: ./python

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # install torch-cpu in github actions runner beforehand to skip gpu install
        pip install --no-cache-dir torch --index-url https://download.pytorch.org/whl/cpu
        grep -v "torch" requirements.txt > requirements_ci.txt
        pip install -r requirements_ci.txt
        pip install --no-cache-dir black ruff pytest pytest-mock yfinance pandas-datareader

    - name: Check formatting (Black)
      run: black --check .

    - name: Lint (Ruff)
      run: ruff check .

    - name: Run tests
      run: pytest